<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation" class="card-panel red lighten-4">
      <h5 class="red-text text-darken-4">
        <%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:
      </h5>
      <ul>
        <% note.errors.each do |error| %>
          <li>&bull; <%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" style="margin-top: 20px;">
    <div class="input-field col s12">
      <%= form.text_field :title, autofocus: true, class: 'validate' %>
      <%= form.label :title, class: 'active' %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.text_area :body, class: 'materialize-textarea validate' %>
      <%= form.label :body, class: 'active' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 right-align">
      <button class="btn waves-effect waves-light red" type="submit">
        <i class="material-icons left">send</i> Submit
      </button>
    </div>
  </div>
<% end %>
